# "org" ensures this Service is used with the correct Serverless Framework Access Key.
org: davidzocom
service: dog-api-sls

provider:
  name: aws
  runtime: nodejs20.x
  region: eu-north-1
  iam:
    role: arn:aws:iam::116525801356:role/lectures-cloud

build:
  esbuild:
    minify: true

package:
  individually: true

functions:
  getDogs:
    handler: functions/getDogs/index.handler
    events:
      - httpApi:
          path: '/dogs'
          method: GET
  postDog:
    handler: functions/postDog/index.handler
    events:
      - httpApi:
          path: '/dogs'
          method: POST
  deleteDog:
    handler: functions/deleteDog/index.handler
    events:
      - httpApi:
          path: '/dogs/{dogId}'
          method: DELETE
  getDogById:
    handler: functions/getDogById/index.handler
    events:
      - httpApi:
          path: '/dogs/{dogId}'
          method: GET
  updateDog:
    handler: functions/updateDog/index.handler
    events:
      - httpApi:
          path: '/dogs/{dogId}'
          method: PATCH

#crud

resources:
  Resources:
    dogsDb:
      Type: AWS::DynamoDB::Table
      Properties:
        TableName: dogs-sls-db
        AttributeDefinitions:
          - AttributeName: id
            AttributeType: S
        KeySchema:
          - AttributeName: id
            KeyType: HASH
        BillingMode: PAY_PER_REQUEST







# tenant ex hundagiset äpplet , päronet, moroten - pk 

#  sk - DOG#1928347
# 
# dogs
# owners

# sk - OWNER#1023987#DOG#0293478

#sk RANGE